*{
  margin:0;
  padding:0;
}

.fulvh{
  height:100vh; width:100%;
  display:grid;
  place-items:center;
  color:#fff;
  font-size:10vw;
  font-family:sans-serif;
}
.bg-color{
  background: var(--bg);
  background-size:cover;
  background-repeat:no-repeat;
}
button{
  padding:1rem;
  border:none;
  background:#2f4fed;
  color:white;
}
